body {
    font-family: 'verdana';
}

/*accordion*/
[data-type="com.idc.ui.core.accordion"] {
    width: 80%;
    height: 500px;
}
[data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.accordion.button"] {
    width: 90%;
}
[data-type="com.idc.ui.core.accordion.content"] {
    width: 90%;
}

/*modal*/
[data-type="com.idc.ui.core.modal.popUp"] {
    background-color: #fff;
    top: 50px;
    left: 3%;
    width: 94%;
    height: 90%;
    border-radius: 5px;
}
[data-type="com.idc.ui.core.modal.dropDown"] {
    background-color: #fff;
    left: 0%;
    width: 100%;
    height: 300px;
    top: -300px;
    border-radius: 5px;
}

[data-type="com.idc.ui.core.modal.popUp"] > [data-type="com.idc.ui.core.modal.contentArea"], [data-type="com.idc.ui.core.modal.dropDown"] > [data-type="com.idc.ui.core.modal.contentArea"] {
    padding: 20px;
}

[data-type="com.idc.ui.backModal"] {
    -webkit-animation: none;
    animation: none;
}

[data-type="com.idc.ui.core.modal.popUp"] > [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.closeButton"] {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 48px;
    margin: 0;
    height: 48px;
    padding: 0;
    background: url(../img/utilitiesMenu/modal_close.png) no-repeat 0 0 / 48px!IMPORTANT;
}

[data-type="com.idc.ui.core.modal.dropDown"] > [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.closeButton"] {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* sample code for image testing with common html ************************************************************/
[data-common-html="companyLogo"] {
    position: absolute;
    right: 20px;
    bottom: 20px
}

[data-common-html="companyLogo"] img {
    display: block;
    width: 50px;
}

.imgContainer .commonImg.logo_reference2 .image {
	display: block;
	width: 200px;
	height: 195px;
	background: url(../img/logo.png) no-repeat 0 0 / contain;
}

/* sample code for mandatory popup formatting *****************************************************************/
#mandatoryPopUp {
    height: 40%;
}
#mandatoryPopUp [data-sub-type="com.idc.ui.core.modal.closeButton"][data-should-be-hidden="true"] {
    display: block; /*prevent close button of mandatory popup to be hidden */
}

/* mainMenu ***************************************************************************************************/
[data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
}

/* sample code for custom dynamic menu ************************************************************************/
#customDynamicMenu {
    display: none;
}
#customDynamicMenu [data-type="com.idc.ui.core.modal.modalObject"] {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu"] {
    position: absolute;
    width: 100%;
    bottom: 20px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible {
    display: flex;
    justify-self: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -170px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"][data-current-slide="true"] {
    background-color: #818286;
    color: #fff;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-sub-type="com.idc.ui.core.modal.openButton"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 14px;
    width: 50px;
    order: 2;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-bottom: 5px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    width: 100px;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 0px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"][data-current-slide="true"] {
    background-color: #818286;
    color: #fff;
}
#customDynamicMenu [data-type="com.idc.ui.backModal"].transparentBackground {
    opacity: 0.1;
}

/* sample code for button feedback ****************************************************************************/
[data-type="com.idc.ui.core.button"]:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

[data-type="com.idc.ui.core.button"] {
    background-color: #818286;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    padding: 8px 20px;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 5px;
}


