body {
    font-family: 'verdana';
}

/* accordion **************************************************************************************************/
[data-type="com.idc.ui.core.accordion"] {
    width: 80%;
    height: 500px;
}
[data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.accordion.button"] {
    width: 90%;
}
[data-type="com.idc.ui.core.accordion.content"] {
    width: 90%;
}

/* modal ******************************************************************************************************/
[data-type="com.idc.ui.core.modal.popUp"] {
    background-color: #fff;
    top: 50px;
    left: 3%;
    width: 94%;
    height: 90%;
    border-radius: 5px;
}
[data-type="com.idc.ui.core.modal.dropDown"] {
    background-color: #fff;
    left: 0%;
    width: 100%;
    height: 300px;
    top: -300px;
    border-radius: 5px;
}

[data-type="com.idc.ui.core.modal.popUp"] > [data-type="com.idc.ui.core.modal.contentArea"], [data-type="com.idc.ui.core.modal.dropDown"] > [data-type="com.idc.ui.core.modal.contentArea"] {
    padding: 20px;
}

[data-type="com.idc.ui.backModal"] {
    -webkit-animation: none;
    animation: none;
}

[data-type="com.idc.ui.core.modal.popUp"] > [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.closeButton"] {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 48px;
    margin: 0;
    height: 48px;
    padding: 0;
    background: url(../img/utilitiesMenu/modal_close.png) no-repeat 0 0 / 48px!IMPORTANT;
}

[data-type="com.idc.ui.core.modal.dropDown"] > [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.closeButton"] {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* dual button */
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.dualButton"][data-acting-as="closeButton"] {
    border-radius: 8% 8% 0% 0%;
    background: white url(../img/utilitiesMenu/modal_close.png) no-repeat 0 0 / 48px!IMPORTANT;
}

/* modal close button */
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.modal.closeButton"] {
    background: url(../img/utilitiesMenu/modal_close.png) no-repeat 0 0 / 48px!IMPORTANT;
}

/* sample code for image testing with common html ************************************************************/
[data-common-html="companyLogo"] {
    position: absolute;
    right: 20px;
    bottom: 20px
}

[data-common-html="companyLogo"] img {
    display: block;
    width: 50px;
}

.imgContainer .commonImg.logo_reference2 .image {
	display: block;
	width: 200px;
	height: 195px;
	background: url(../img/logo.png) no-repeat 0 0 / contain;
}

/* sample code for mandatory popup formatting *****************************************************************/
#mandatoryPopUp {
    height: 40%;
}
#mandatoryPopUp [data-sub-type="com.idc.ui.core.modal.closeButton"][data-should-be-hidden="true"] {
    display: block; /*prevent close button of mandatory popup to be hidden */
}

/* mainMenu ***************************************************************************************************/
[data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
}

/* utilitiesMenu **********************************************************************************************/
/* separator */
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.utilitiesMenu.separator"] {
    width: 2px;
    margin: 0;
    height: 32px;
    padding: 0;
    height: 21px;
    margin-top: 14px;
}
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.utilitiesMenu.separator"][data-view-state="off"] {
    background: url(../img/utilitiesMenu/separator_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.utilitiesMenu.separator"][data-view-state="on"] {
    background: url(../img/utilitiesMenu/separator_light.png) no-repeat 0 0 / 48px;
}

/* items (buttons, links) */
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.core.button"],
[data-type="com.idc.ui.utilitiesMenu"] [data-type="com.idc.ui.core.link"],
[data-type="com.idc.ui.utilitiesMenu.placeholder"] {
    width: 48px;
    margin: 0;
    height: 48px;
    padding: 0;
}

/* main slide style */
[data-type="com.idc.ui.utilitiesMenu"] #safetyButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_safety_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #additionalResourcesOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_resources_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #siteMapOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_sitemap_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #referencesOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_refs_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_emailCart_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailCartOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_emailCart_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #quickTourOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_quickTour_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #langOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_lang_dark.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #historyOpenButton[data-view-state="off"] {
    background: url(../img/utilitiesMenu/icon_history_dark.png) no-repeat 0 0 / 48px;
}

/*light style */
[data-type="com.idc.ui.utilitiesMenu"] #safetyButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_safety_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #additionalResourcesOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_resources_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #siteMapOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_sitemap_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #referencesOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_refs_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_emailCart_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailCartOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_emailCart_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #quickTourOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_quickTour_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #langOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_lang_light.png) no-repeat 0 0 / 48px;
}
[data-type="com.idc.ui.utilitiesMenu"] #historyOpenButton[data-view-state="on"] {
    background: url(../img/utilitiesMenu/icon_history_light.png) no-repeat 0 0 / 48px;
}

/* disabled view state */
[data-type="com.idc.ui.utilitiesMenu"] #safetyButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #additionalResourcesOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #siteMapOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #referencesOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #emailCartOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #quickTourOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #langOpenButton[data-state="disabled"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.utilitiesMenu"] #historyOpenButton[data-state="disabled"] {
    opacity: 0.5;
}

/* sample code for custom dynamic menu ************************************************************************/
#customDynamicMenu {
    display: none;
}
#customDynamicMenu [data-type="com.idc.ui.core.modal.modalObject"] {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu"] {
    position: absolute;
    width: 100%;
    bottom: 20px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible {
    display: flex;
    justify-self: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -170px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"][data-current-slide="true"] {
    background-color: #818286;
    color: #fff;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].visible [data-sub-type="com.idc.ui.core.modal.openButton"] {
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 14px;
    width: 50px;
    order: 2;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-bottom: 5px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"] {
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    width: 100px;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 0px;
}
#customDynamicMenu [data-type="com.idc.ui.core.menu.container"].collapsible [data-type="com.idc.ui.core.link"][data-sub-type="com.idc.ui.core.menu.button"][data-current-slide="true"] {
    background-color: #818286;
    color: #fff;
}
#customDynamicMenu [data-type="com.idc.ui.backModal"].transparentBackground {
    opacity: 0.1;
}

/* sample code for button feedback ****************************************************************************/
[data-type="com.idc.ui.core.button"]:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

[data-type="com.idc.ui.core.button"] {
    background-color: #818286;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    padding: 8px 20px;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 5px;
}

/* tab ********************************************************************************************************/
[data-type="com.idc.ui.core.tab.cover"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.tab.button"] {
    height: 100px;
    padding-top: 90px;
    margin-right: 5px;
}
[data-type="com.idc.ui.core.tab.container"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.tab.button"] {
    margin-right: 5px;
}
[data-type="com.idc.ui.core.tab.container"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.tab.button"][data-view-state="off"] {
    opacity: 0.5;
}
[data-type="com.idc.ui.core.tab.container"] [data-type="com.idc.ui.core.button"][data-sub-type="com.idc.ui.core.tab.button"][data-view-state="on"] {
    opacity: 1;
}
[data-type="com.idc.ui.core.tab.container"] [data-type="com.idc.ui.core.tab.content"] {
    width: 90%;
    display: none;
    height: 300px;
    border:  1px solid #818286;
    padding: 10px;
}

